*{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}
header{
    background-image: url(img/pattern.png);
    background-repeat: repeat;
    background-color: rgba(0, 60, 255, 0.792);
    margin-bottom: 16px;
    background-size: 15%;
}

.logo{
    padding-top: 20px;
    margin-left: 0;
    width:200px;
}

main h1{
    font-size: xx-large;
    font-weight: 900;
}


.testoblu{
    color: rgb(3, 108, 255);
}

.timimage{
    margin-top: 16px;
    
}

.sottotitoli{
    font-size: x-small;
}

.paragrafo{
    margin-top: 16px;
}

.lista{
    margin: 16px;
    padding-left: 2px;
}

.testogiallo{
    background-color: yellow;
}

thead{
    background-color: rgb(0, 153, 255);
}

thead th{
    color: white;
}

.rigablu{
    background-color: rgb(168, 213, 253);
}

table{
    margin-bottom: 16px;
   
}

footer{
    margin-top: 16px;
}

.footerimg1{
    background-image: url(img/monitor.jpg);
    background-repeat: no-repeat;
    color: #FFFFFF;
    font-size: 140%;
    font-weight: normal;
    line-height: 50px;
    text-align: center;
    width: 240px;
    height: 150px;
    margin-bottom: 10px;
}

.footerimg2{
    background-image: url(img/graph.jpg);
    background-repeat: no-repeat;
    color: #FFFFFF;
    font-size: 140%;
    font-weight: normal;
    line-height: 50px;
    text-align: center;
    width: 240px;
    height: 150px;
    margin-bottom: 16px;
}